<h1>Intro</h1>
East African Breweries Limited, commonly referred to as EABL, is a Kenyan-based holding company that manufactures branded beer, spirits, and non-alcoholic beverages
The dataset is categorical

Questions considered based on the dataset:
1. Product Analysis
* what are the best selling product or brands?
* Are there seasonal trends in product sales?
* How do sales vary by product category or region?

2. Customer Insights
* Who are the primary consumers of these products?
* Are there any trends in customer preferences over time?

<h1>Objectives</h1>

1. Gather, Clean and prepare data

2. Exploratory analysis

3. Statistical model

4. Visualizations

In [2]:
#importing the necessary libraries

import pandas as pd
import numpy as np
from wordcloud import wordcloud # visual representations of text data
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#loading the datatset
sales = pd.read_excel("october sales.xlsx")

In [4]:
#view of the 5 top rows
sales.head(5)

,CUST_CD,CUST_NAME,Gloabl_Channel,Global_Sub_segment,Local_Segment1,Local_Segment3,Volume_Grade,Archi_Type,OBOS,Division,Area,Territory,Route,LEVEL1,PRD_DESC,UOM,SALEQTY
0,KE0018490,"680, Kavote",On Trade,Traditional Bar,Value,Kawaida,Platinum,Rural Accessible,Senator,Emerging Business,Nyeri (EB),Kianyaga (EB),Karumandi,Alcoholic Pre-Mix Drink,S.Ice Black Can 330ml,CAS,0.00
1,KE0018490,"680, Kavote",On Trade,Traditional Bar,Value,Kawaida,Platinum,Rural Accessible,Senator,Emerging Business,Nyeri (EB),Kianyaga (EB),Karumandi,Alcoholic Pre-Mix Drink,S.Ice Guarana Can,CAS,0.17
2,KE0018490,"680, Kavote",On Trade,Traditional Bar,Value,Kawaida,Platinum,Rural Accessible,Senator,Emerging Business,Nyeri (EB),Kianyaga (EB),Karumandi,Alcoholic Pre-Mix Drink,S.Ice Pineapple Punch Can,CAS,0.92
3,KE0018490,"680, Kavote",On Trade,Traditional Bar,Value,Kawaida,Platinum,Rural Accessible,Senator,Emerging Business,Nyeri (EB),Kianyaga (EB),Karumandi,Beer,Allsopps Lager 500ml,CAS,1.00
4,KE0018490,"680, Kavote",On Trade,Traditional Bar,Value,Kawaida,Platinum,Rural Accessible,Senator,Emerging Business,Nyeri (EB),Kianyaga (EB),Karumandi,Beer,Senator Dark 50L,CAS,196.00

In [5]:
#Explore the columns, datatypes and general structure
sales.dtypes

sales.shape

CUST_CD                object
CUST_NAME              object
Gloabl_Channel         object
Global_Sub_segment     object
Local_Segment1         object
Local_Segment3         object
Volume_Grade           object
Archi_Type             object
OBOS                   object
Division               object
Area                   object
Territory              object
Route                  object
LEVEL1                 object
PRD_DESC               object
UOM                    object
SALEQTY               float64
dtype: object

In [10]:
#Identifying and handling missing data
sales.isnull().dropna()

,CUST_CD,CUST_NAME,Gloabl_Channel,Global_Sub_segment,Local_Segment1,Local_Segment3,Volume_Grade,Archi_Type,OBOS,Division,Area,Territory,Route,LEVEL1,PRD_DESC,UOM,SALEQTY
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21419,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True
21420,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True
21421,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True
21422,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True
21423,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True

In [ ]:
#computing basic stastical summary